@charset "UTF-8";
/* CSS Document */
@font-face {
	font-family: "Regular";
	src: url("../fonts/locality/RobotoSlab-Regular.eot"); /* IE9*/
	src: url("../fonts/locality/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("../fonts/locality/RobotoSlab-Regular.woff2") format("woff2"), /* chrome、firefox */
	url("../fonts/locality/RobotoSlab-Regular.woff") format("woff"), /* chrome、firefox */
	url("../fonts/locality/RobotoSlab-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("../fonts/locality/RobotoSlab-Regular.svg#RobotoSlab-Regular") format("svg"); /* iOS 4.1- */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {line-height: 1;  font-family: "arial"; background: #ffffff; font-size: 14px; background: #ffffff;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
.overlay {position: absolute; width: 100%; height: 100%; background: rgba(0, 0, 0, .4); top: 0px; left: 0px; right: 0px; bottom: 0px;}
header {position: fixed; z-index: 1004; width: 100%; background: rgba(255,255,255,1); top:0px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);}  
header .container {color: #ffffff;}
header .container nav {float: right;}
header .container nav ul li {float: left;}
header .container nav ul li  a{color: #000; display: block; padding: 27px 20px; transition: all 0.3s;}
header .container nav ul li  a:hover,
header .container nav ul li  a.active {color: #bc2334;}
header .container nav.navbar-default {background-color: #ffffff; border: none;}


.hero {
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 99;
    min-width: 625px;
    color: #fff;
    text-align: center;
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 36px;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.hero hgroup {line-height: 20px; margin-bottom: 20px; margin-top: 50px;}
.hero hgroup p {padding: 10px 0px;}
.hero hgroup a {margin-top: 20px;}
.carousel-control {z-index: 99;}
.newslider .carousel-inner .item .hero {z-index: 99;}
.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: 0.5;
}
.hero ul li,
.centernoxx li {float: left; margin: 10px;}
.hero ul li a,
.centernoxx li a {height: 100px; width: 100px; border-radius: 100%; overflow: hidden; position: relative; background: #ffffff; display: block; border: solid 4px #3c3c3d; transition: all 0.3s;     box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 5px 0 rgba(0,0,0,.23)!important;}
.hero ul li a:hover,
.centernoxx li a:hover {border: solid 4px #be1e2d;}
.hero ul li a img,
.centernoxx li a img {
  width: 100%;
  display: block;
  position: absolute;
  top: 50%!important;
  -moz-transform: translateY(-50%) scale(1);
  -o-transform: translateY(-50%) scale(1);
  -webkit-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  opacity: 1;
  -moz-transition:-moz-transform 0.4s ease-in; 
  -webkit-transition:-webkit-transform 0.4s ease-in; 
  -o-transition:-o-transform 0.4s ease-in;
  transition:transform 0.4s ease-in;
  transition: transform 0.4s ease-in;
  min-height: 100px;
}
.hero ul li a .overshowdiv,
.centernoxx li a .overshowdiv {position: absolute; height: 100%; width: 100%; background: rgba(255,255,255,0.8); padding-top: 20px; color: #333; font-weight: normal; font-family: arial; font-size: 14px; bottom: -100%; transition: all 0.3s;}
.hero ul li a:hover .overshowdiv,
.centernoxx li a:hover .overshowdiv {bottom: 0%;}

.centernoxx li {margin: 10px 20px; display: inline-block; float: none;}
.centernoxx li a {height: 150px; width: 150px;}
.centernoxx li span {display: block; padding-top: 20px; font-weight: bold;} 

.servicess {position: absolute; top: 45%; min-width: 625px;}
.newslider {margin-top: 70px;}
.newslider .carousel-inner {min-height: 570px;}
.newslider .carousel-inner .item img.imgre {height: 100%; min-height: 570px;}

.newslider .searchbox {position: absolute; bottom: 50px; width: 100%; z-index: 999;}
.newslider .searchbox form {position: relative;}
.newslider .searchbox form input {background: #ffffff; border-radius: 3px; width: 100%; padding: 15px; border: 0px; -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);} 
.newslider .searchbox form button {position: absolute; right: 0px; top: 0px; border-radius: 0px 3px 3px 0px; min-width: 150px; min-height: 46px; font-size: 16px;}

section {padding: 30px 0px;}
.contentsss {max-width: 700px; margin: 0 auto;}
.section.bg1 {padding: 0px;}
.section.bg2 {background: url(../images/bg2.jpg) fixed; background-size: 100%; background-size: cover; min-height: 450px; color: #ffffff;}
.container.text-center .headings {font-size: 24px; padding-bottom: 30px; font-weight: bold;}
.container.text-center p.textass {font-size: 14px; line-height: 20px; margin-bottom: 30px;}
.contentsss .item .thumbnail { background: none; border: none; }
.imgprofile {display: inline-block;}
.adjust2 {font-size: 20px;}
.adjust2 p {font-size: 14px; margin-bottom: 15px!important;}


.publicaciones-blog-home {
    padding-bottom: 50px;
  background: url("") no-repeat fixed center center;
    background-size: 100% auto;
}
.publicaciones-blog-home h2 {
  text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 44px;
    margin-top: 70px;
}
.publicaciones-blog-home h2 b {
  color: #2BBCDE;
}
.publicaciones-blog-home .fondo-publicacion-home {
  background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    height: 350px; 
    line-height: 20px;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
}
.publicaciones-blog-home .fondo-publicacion-home:hover h3 {
  color: #2BBCDE;
/*    box-shadow: 0px 4px 3px 3px rgba(0, 0, 0, 0.08);*/
}
.publicaciones-blog-home .fondo-publicacion-home:hover .mascara-enlace-blog-home {
    height: 350px;
    width: 100%;
    color: #aaa;
    background-color: #bc2334;
    position: absolute;
    top: 0;
    opacity: 0.9;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;   
}
.publicaciones-blog-home .black {
  background: #2BBCDE;
}
.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home {
  display: inline-block;
    width: 50%;
    overflow: hidden;
    height: 100%;
    margin-left: -1px;
}
.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home img {
  height: 100%;
    width: auto;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 20px 15px;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home h3 {
    font-weight: 900;
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 28px;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-home {
    padding: 20px 15px;
    color: #333;
}
.publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-home h3 {
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 15px;
}
.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-home  {
    overflow: hidden;
    max-height: 155px;
}
.publicaciones-blog-home .fondo-publicacion-home .img-publicacion-home img  {
    min-height: 155px;
}
.mascara-enlace-blog-home {
    height: 4350px;
    width: 0%;
    color: #aaa;
    background-color: #2BBCDE;
    position: absolute;
    top: 0;
    opacity: 0.0;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    text-align: center;
    padding-top: 180px;
}
.mascara-enlace-blog-home span {
    text-align: center;
    max-height: 340px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}
.publicaciones-blog-home .todas-las-publicaciones-home {
    background: #2BBCDE;
    height: 350px;
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    border-radius: 3px;
}
.publicaciones-blog-home .todas-las-publicaciones-home span {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 33px;
    padding-top: 65px;
    display: block;
}


.panel-login {
  padding-top: 30px;
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:left;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  padding: 0px 10px 5px;
  border-bottom: solid 3px #ffffff;
}
.panel-login>.panel-heading a.active{
  color: #00D7FF;
  font-size: 15px;
  border-bottom: solid 3px #00D7FF;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #00b9f5;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #00b9f5;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #00B9EE;
  border-color: #00B9EE;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #00b9f5;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #00b9f5;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #00B9EE;
  border-color: #00B9EE;
}
.popupnw .modal-body {padding: 0px;}
.leftcontenbg {background: #00b9f5; min-height: 490px; padding: 15px;}
.popupnw .modal-content {border-radius: 0px; box-shadow: none; border: none;}
.popupnw button.close {padding: 6px 10px; font-size: 30px; cursor: pointer; position: absolute; right: 0px; top: 0px; z-index: 999;color: #00b9f5;}
.leftcontenbg span {text-align: center; display: block; padding-bottom: 30px;}
.leftcontenbg ul {padding-left: 30px;}
.leftcontenbg ul li {color: #ffffff; padding: 6px 0px; list-style-type: disc;}

.navbar-default .navbar-toggle {margin: 17px 0px 0px;}
.mobilelogin {float: left; display: none;}


 

footer { background-color: rgba(0,0,0,.8); padding: 20px 0px 0px; margin-top: 20px;}
.footerlink h3 {color: #ccc; font-size: 18px; margin: 0px 0px 10px 0px;}
.footerlink ul li {color: #ffffff;}
.footerlink ul li a {font-size: 14px; color: #888; text-decoration: none; padding: 5px 0px; display: inline-block; transition: all 0.3s;}
.footerlink ul li a:hover {color: #ffffff; opacity: 0.6;}
.footerlink ul li.contacticon {margin-bottom: 14px; border-bottom: solid 1px #666; padding-bottom: 16px;}
.footerlink ul li.contacticon a {display: inline-block; border-radius: 100%; height: 35px; width: 35px; color: #000; font-weight: bold; text-align: center; line-height: 25px; margin-right: 5px; font-size: 20px; background: #cfcfcf; border-radius: 100%;}
.footerlink ul li.contacticon a:nth-child(1) {background: #3f5c96; color: #ffffff;}
.footerlink ul li.contacticon a:nth-child(2) {background: #5aadeb; color: #ffffff;}
.footerlink ul li.contacticon a:nth-child(3) {background: #1074af; color: #ffffff;}
.footerlink ul li.contacticon a:nth-child(4) {background: #c1272d; color: #ffffff;}
.copyright {text-align: center; background: #222; color: #666; position: relative; padding: 15px; margin-top: 20px;}
.marss {margin-top: 10px;}

.btn {display: inline-block; padding: 8px; border-radius: 3px; transition: all 0.3s;}

.orgin-line {border:solid 1px #F68121; background: #ffffff; color: #333;}
.orgin-line:hover {background: #F68121; color: #ffffff;}

.blue-line {background: #10A5A9; color: #ffffff;}
.blue-line:hover {background: #16BEC3; color: #ffffff;}

.orgin {background: #F68121; color: #ffffff;}
.orgin:hover {background: #F68121; color: #ffffff;}


@media screen and (max-width: 992px){
  header .container nav ul li  a {padding: 27px 10px;}
}

@media (max-width: 768px) {
    .publicaciones-blog-home h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 34px;
    margin-top: 70px;
    }
    .publicaciones-blog-home .fondo-publicacion-home {
    background: #ffffff;
    border-radius: 3px;
    overflow: hidden;
    height: inherit;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
    }
    .publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    height: auto;
    }
    .publicaciones-blog-home .fondo-publicacion-home .img-publicacion-principal-home img {
    height: auto;
    width: 100%;
    }
    .publicaciones-blog-home .black {
    background: #fff;
    }
    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 10px;
    }
    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home h3 {
    font-weight: 900;
    color: #333;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 28px;
    }
    .publicaciones-blog-home .fondo-publicacion-home .contenido-publicacion-principal-home p {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    }
    .publicaciones-blog-home .todas-las-publicaciones-home {
    background: #2BBCDE;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    border-radius: 3px;
    }
}

@media screen and (max-width: 767px){
  body {font-size: 12px;}
  .xs-hidden {display: none;}
  header .container nav ul li {float: none;}
  header .container nav ul li a {padding: 10px;}
  .hero ul li, .centernoxx li {margin: 5px;}
  .hero ul li a {height: 50px; width: 50px;}
  .servicess, .hero  {min-width: 300px;}
  .hero h1 {font-size: 16px;}
  .newslider .carousel-inner .item img.imgre,
  .newslider .carousel-inner {min-height: 270px;}
  .newslider .searchbox {bottom: 13px;}
  .servicess {top: 53%;}
  .newslider .searchbox form button {min-width: 89px; min-height: 44px}
  .hero ul li a .overshowdiv {font-size: 9px;}
  .carousel-control { z-index: 999; width: 20px;}
  .mobilelogin {display: block; padding: 29px;}
  header .container nav.navbar-default .navbar-collapse {position: absolute; background: #ffffff; width: 100%; left: 0px; top: 69px;}
  
}




